<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui/common/plist/jdt_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{659,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{659,92}</string>
			</dict>
			<key>ui/common/plist/jdt_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{659,0},{625,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{625,56}</string>
			</dict>
			<key>ui/common/plist/qx.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,0},{186,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,66}</string>
			</dict>
			<key>ui/common/plist/tijiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{901,0},{186,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{186,66}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>common.png</string>
			<key>realTextureFileName</key>
			<string>common.png</string>
			<key>size</key>
			<string>{967,625}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>967</integer>
			<key>height</key>
			<integer>625</integer>
		</dict>
	</dict>
</plist>