<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>global/plist/general/ui_toast_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{229,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,54}</string>
			</dict>
			<key>global/plist/general/white_dot.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,18},{1,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1,1}</string>
			</dict>
			<key>global/plist/general/indicator_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,57},{15,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,30}</string>
			</dict>
			<key>global/plist/general/indicator_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,1},{15,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{15,30}</string>
			</dict>
			<key>global/plist/general/red_dot_big.png</key>
			<dict>
				<key>frame</key>
				<string>{{320,1},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>global/plist/general/xiala.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,35},{18,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,12}</string>
			</dict>
			<key>global/plist/general/img_loading.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,1},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>global/plist/general/msg_bg_left.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,1},{86,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,57}</string>
			</dict>
			<key>global/plist/general/msg_bg_right.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,57},{86,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,57}</string>
			</dict>
			<key>global/plist/general/indicator_home_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,18},{16,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{16,17}</string>
			</dict>
			<key>global/plist/general/indicator_home_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,26},{16,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{16,17}</string>
			</dict>
			<key>global/plist/general/img_tag_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,1},{35,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,35}</string>
			</dict>
			<key>global/plist/general/img_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,18},{8,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{8,2}</string>
			</dict>
			<key>global/plist/general/img_lock.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,1},{17,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{17,23}</string>
			</dict>
			<key>global/plist/general/img_lock_small_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,57},{122,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,30}</string>
			</dict>
			<key>global/plist/general/red_dot.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,1},{23,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,23}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>global.png</string>
			<key>realTextureFileName</key>
			<string>global.png</string>
			<key>size</key>
			<string>{526,115}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>526</integer>
			<key>height</key>
			<integer>115</integer>
		</dict>
	</dict>
</plist>